@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use "./partials/variables.scss" as *;

header,
.jumbotron {
  background: linear-gradient(to left, $appBg-secondary, $appBg-primary);
  color: $appBg-light;
}

.bg-color-dark {
  background: linear-gradient(to left, #3a6073, #16222a);
}

#home {
  background: linear-gradient(to left, $appBg-secondary, $appBg-primary);
  color: $appBg-light;
}
.jumbotron img {
  width: 200px;
  background: $appBg-light;
  border-radius: 50%;
  margin-bottom: 40px;
}
.jumbotron img:hover {
  box-shadow: -3px -1px 20px 12px $appBg-card-elements;
  transform: scale(1.1);
}
footer {
  padding: 20px;
  background-color: $appBg-primary;
  li {
    color: $appBg-light;
  }
}
a:hover {
  border-bottom: 2px solid $appBg-card-elements;
}
footer li:hover {
  color: $appBg-card-elements;
}
.color_hover:hover {
  color: $appBg-card-elements;
}
.color_hover {
  color: $appBg-light;
}
.bg_badge {
  background-color: $appBg-card-elements;
}
.recipe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $appBg-overlay;
  color: $appBg-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  z-index: 2;
}
